<header>
  <div class="logo">
    <div class="logo-container">
      <img src="https://scrambly-dev.web.app/assets/header/logo.png" alt="">
    </div>
    <span>scrambly</span>
  </div>

  <div class="actions">
    <div class="paypal-withdraw">
      <a href="#">
        <div class="icon-paypal">
          <svg _ngcontent-bxf-c25="" class="social-network-icon"><use _ngcontent-bxf-c25="" href="/assets/header/navbar-icons-sprite.svg#paypal-icon"></use></svg>
        </div>
        <span>Withdraw</span>
      </a>
    </div>
    <div class="earn-and-save">
      <a href="#">
        <div class="icon-money">
          <svg _ngcontent-bxf-c25="" class="social-network-icon"><use _ngcontent-bxf-c25="" href="/assets/header/navbar-icons-sprite.svg#icon-earn"></use></svg>
        </div>
        <span>Earn & Save</span>
      </a>
    </div>
  </div>

  <div class="sign-in">
    <button>
      <span class="icon">
        <svg _ngcontent-bxf-c25="" class="social-network-icon"><use _ngcontent-bxf-c25="" href="/assets/header/navbar-icons-sprite.svg#google-icon"></use></svg>
      </span>

      <span>sign in</span>
    </button>
  </div>
</header>