<header>
  <div class="logo">
    <div class="logo-container">
      <img src="https://scrambly-dev.web.app/assets/header/logo.png" alt="">
    </div>
    <span>test</span>
  </div>

  <div class="actions">
    <div class="paypal-withdraw">
      <a href="#">
        <div class="icon-paypal"></div>
        Withdraw
      </a>
    </div>
    <div class="earn-and-save">
      <a href="#">
        <div class="icon-money"></div>
        Earn & Save
      </a>
    </div>
  </div>

  <div class="sign-in">
    <button>
      <span class="icon">G</span>
      sign in
    </button>
  </div>
</header>