<footer>
  <div class="lists">
    <div class="list support">
      <h3>Support</h3>

      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>

    <div class="list about">
      <h3>About</h3>

      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms and Conditions</a></li>
        <li><a href="#">Rules of Scrambly</a></li>
        <li><a href="#">Advertising tracking preferences</a></li>
      </ul>
    </div>
  </div>

  <div class="social-media-links">
    <ul>
      <li>
        <a href="#">
          <svg _ngcontent-bxf-c25="" class="social-network-icon"><use _ngcontent-bxf-c25="" href="/assets/header/navbar-icons-sprite.svg#facebook-circle-icon"></use></svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg _ngcontent-bxf-c25="" class="social-network-icon"><use _ngcontent-bxf-c25="" href="/assets/header/navbar-icons-sprite.svg#instagram-icon"></use></svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg _ngcontent-bxf-c25="" class="social-network-icon"><use _ngcontent-bxf-c25="" href="/assets/header/navbar-icons-sprite.svg#twitter-icon"></use></svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg _ngcontent-bxf-c25="" class="social-network-icon"><use _ngcontent-bxf-c25="" href="/assets/header/navbar-icons-sprite.svg#discord-icon"></use></svg>
        </a>
      </li>
    </ul>
  </div>
  
  <div class="copyright-notice">
    &copy; 2022 Scrambly, Inc. All rights reserved.
  </div>
</footer>