footer {
  color: #b3b3b3;
  background-color: #0F1129;
  text-align: center;
  padding: 20px;
  padding-bottom: 80px;
  .lists {
    display: flex;
    justify-content: space-around;
    max-width: 50;;
    margin-bottom: 5px;
    .list {
      max-width: 50%;
      h3 {
        margin-block: 0;
      }
      ul {
        list-style-type: none;
        margin-top: 5px;
        padding: 0;
        li {
          font-size: 14px;
          padding-top: 5px;
          a {
            color: inherit;
            text-decoration: none;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
    @media screen and (min-width: 992px) {
      width: 500px;
      margin-inline: auto;
    }
  }
  .social-media-links {
    margin-bottom: 20px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin-inline: 20px;
        a {
          svg {
            fill: #b3b3b3;
            width: 20px;
            height: 20px;
            &:hover {
              fill: #fff;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
  }
}