@import '../../scss/_variables';
@import '../../scss/_mixins';

section {
  color: $white;
  background-color: $background-gray-medium;
  font-size: 24px;
  padding-block: 20px;
  .wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    margin-inline: auto;
    .image-container {
      display: inline-block;
      width: 200px;
      height: 60px;
      img {
        @include fill-container;
      }
    }
    @media (min-width: $sm) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 400px;
    }
  }
}