<section class="features">
  <h3>Features</h3>

  <div class="features-container">
    <div class="feature">
      <div class="image-container">
        <svg _ngcontent-qco-c35=""><use _ngcontent-qco-c35="" href="/assets/header/navbar-icons-sprite.svg#dollar-circle-icon"></use></svg>
      </div>
      <div class="text">
        <p>Unlimited payouts &amp; cashbacks</p>
      </div>
    </div>

    <div class="feature">
      <div class="image-container">
        <svg _ngcontent-qco-c35=""><use _ngcontent-qco-c35="" href="/assets/header/navbar-icons-sprite.svg#dollar-circle-icon"></use></svg>
      </div>
      <div class="text">
        <p>Unlimited payouts &amp; cashbacks</p>
      </div>
    </div>
    <div class="feature">
      <div class="image-container">
        <svg _ngcontent-qco-c35=""><use _ngcontent-qco-c35="" href="/assets/header/navbar-icons-sprite.svg#dollar-circle-icon"></use></svg>
      </div>
      <div class="text">
        <p>Unlimited payouts &amp; cashbacks</p>
      </div>
    </div>
    <div class="feature">
      <div class="image-container">
        <svg _ngcontent-qco-c35=""><use _ngcontent-qco-c35="" href="/assets/header/navbar-icons-sprite.svg#dollar-circle-icon"></use></svg>
      </div>
      <div class="text">
        <p>Unlimited payouts &amp; cashbacks</p>
      </div>
    </div>
  </div>
</section>
