<section class="hero">
  <div class="hero-wrapper">
    <div class="text">
      <h1>Try new apps &amp; games and get paid with <span class="brand">Scrambly</span></h1>
      <h2>Discover new products, games and apps and we'll get you paid in PayPal and Gift Cards for that!</h2>
    </div>
    <div class="illustration">
      <img src="https://scrambly-dev.web.app/assets/home/magic.png" alt="">
    </div>
  </div>

  <div class="call-to-action">
    <button>Get started</button>
  </div>
</section>
