@import '../../scss/_variables';
@import '../../scss/_mixins';

.actions-bar {
  background-color: $yellow;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  z-index: 1;
  div {
    text-align: center;
    width: 50%;
    a {
      color: $background-gray-medium;
      text-decoration: none;
      display: inline-block;
      width: 25px;
      height: 25px;
      svg {
        @include fill-container;
      }
    }
  }
  @media (min-width: $sm) {
    display: none;
  }
}