section {
  color: #fff;
  background-color: #2d2f48;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
  span {
    .number-of-reviews {
      font-weight: 800;
    }
  }
  .trustpilot {
    display: inline-block;
    width: 80px;
  }
}