/* Breakpoints */
$xs: 500px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

/* Colors */
$yellow: #FFC107;
$yellow-hover: #e6ae06;

$white: #fff;

$text-gray: #9b9ca1;
$text-gray-light: #B3B3B3;

$background-gray-strong: #0c0e26;
$background-gray-medium-strong: #0F1129;
$background-gray-medium: #161834;
$background-gray-light: #2d2f48;